USE [YetkiDB_2]
GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 17.09.2018 16:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ADI] [nvarchar](max) NULL,
	[PAROLA] [nvarchar](max) NULL,
	[MODUL] [nvarchar](max) NULL,
	[EKRAN] [nvarchar](max) NULL,
	[KOMUTLAR] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KULLANICI] ON 

INSERT [dbo].[KULLANICI] ([ID], [KULLANICI_ADI], [PAROLA], [MODUL], [EKRAN], [KOMUTLAR], [URL]) VALUES (7, N'YONETICI', N'1234', N'SATIS', N'PROFORMA', N'btnSil;btnSatışOnayla;btnKaydet;', N'PROFORMA.aspx')
INSERT [dbo].[KULLANICI] ([ID], [KULLANICI_ADI], [PAROLA], [MODUL], [EKRAN], [KOMUTLAR], [URL]) VALUES (8, N'YONETICI', N'1234', N'SATINALMA', N'ÜRÜN KARTI', N'btnKaydet;btnSil;', N'URUN_KARTI.aspx')
INSERT [dbo].[KULLANICI] ([ID], [KULLANICI_ADI], [PAROLA], [MODUL], [EKRAN], [KOMUTLAR], [URL]) VALUES (9, N'YONETICI', N'1234', N'SATINALMA', N'FİYAT LİSTESİ', N'btnKaydet;btnSil;', N'FIYAT_LISTESI.aspx')
SET IDENTITY_INSERT [dbo].[KULLANICI] OFF
